/*========================================
Sign Up Page
==========================================*/

.pillars {
    background-repeat: repeat-x repeat-y;
    background-image: url('/static/assets/pillar.png');
    background-position: top center;
    position: relative;
    margin-top: -52px;
    width:100%;
    height: 100px;
}

#biglogobutton {
    text-align: center;
    display: block;
}

#biglogobutton .box {
    width:200px;
    height:150px;
    background:#030403;
    border-radius: 7px;
    position:absolute;
    margin-top: -50px;
    margin-left: -90px;
    display: inline-block;
}

#biglogobutton .image {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
}

#signupfields {
    padding-top: 80px;
}

#signupfields h1 {
    text-align: center;
    color: #030403;
    font-size: 250%;
}

.stretchheader {
    width: 100% !important;
    position: relative;
    top: 100px;
}

#footer {
    position:fixed;
    bottom:0;
}

.jumbotron {
    width: 100% !important;
    height: 100%;
    background-color: white;
    overflow: hidden;
}

.jumbotronimg {
    position: relative;
    margin-top: 55px;/*100*/
    background-image: url('/static/assets/garage2.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jumbotronimg p {
    color: black;
    position: relative;
    left: 40px;
    top: 20px;
    font-family: helvetica;
    font-size: 25px;
    letter-spacing: -.04em;
}

.jumbotronimg h1 {
    color: red;
    position: relative;
    left: 40px;
    top: 0px;
    font-family: helvetica;
    font-size: 19px;
    letter-spacing: .07em;
}

.jumbotronimg a {
    color: red;
    position: relative;
    left: 90px;
    top: 0px;
    font-family: helvetica;
    font-size: 19px;
    letter-spacing: .07em;
}

.jumbotronimg h6 {
    color: #C6C6C8;
    position: relative;
    left: 60px;
    top: 10px;
    font-family: helvetica;
    font-size: 10px;
}

#signupbox{
    width:402px;
    height:750px;
    background:#F8F8FA;
    position: relative;
    top: -15px;
    left: 840px;
}

#littlerectangle {
    width:402px;
    height:8px;
    background:#F1F1F1;
}

#line {
    width:250px;/*TODO: make a blank line over this one so it doesnt fuck up*/
    height:1.5px;
    background:#F1F1F1;
    position: relative;
    left: 50px;
    top: 15px;
}

#line2 {
    width:125px;
    height:1.5px;
    background:#F1F1F1;
    position: relative;
    left: 211px;
    top: -6px;
    
}

#rentaspace {
    width:65px;
    height:65px;
    background:#8ADAC1;
    border-radius: 50%;
    position: relative;
    left: 20px;
    top: 15px;
    float:left;
}

p {
    color: black;   
}

.success {
    text-align: right;
}

.bgimage {
    width: 100%;
    z-index: 0;
    position: relative;
    top: -70px;
}

.image2 {
	height: auto;
    width: auto;
    position: relative;
    left: 30px;
}

.getthere h1 {
    font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif !important;
    letter-spacing: -.03em !important;
    font-weight: 400 !important;
    position: relative;
    left: 100px;
}
.getthere h2 {
    letter-spacing: -.03em !important;
    font-weight: 400 !important;
    position: relative;
    left: 100px;
}

.signup_box {
    width:500px !important;
    height:55px !important;
    border-radius: 0px !important;
    position: relative !important;
    margin-top: 0px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 10px !important;
}

.signup_button {
    background-color: #56AE5C;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align:center !important; 
}

/*========================================
Sign In Page
==========================================*/
.signupreceived {
    text-align: center;
    color: #030403;
    font-size: 90%;
}

.signin_rectangles {
    background-color: #F8F8FA;
    width: 340px;
    border:2px solid #F1F1F1;
    border-radius: 4px !important;
    padding: 25px;
    margin: 25px;
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 14px;
}

.signin_inputbox {
    position: relative !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    font-weight: normal;
}

#signin_button {
    height: 40px;
    position: relative !important;
    margin-top: 20px !important;
}

#newtowizrobe {
    text-align: center;
}

#signin {
    height: 255px;
    text-align: left;
    font-weight: bold;
}

/*========================================
Edit Profile
==========================================*/

#personalsettings {
    background-color: #F8F8FA;
    width: 250px;
    height: auto;
    border:2px solid #F1F1F1;
    border-radius: 4px !important;
    margin: 20px 30px;
    font-size: 9px;
    font-family: helvetica;
    float: left;
}

#personalsettings h1 {
    padding: 0px 10px;
    color: #586069;
}

#personalsettings a {
    padding: 0px 10px 10px;
    font-size: 2em;
    float: none;
}

#personalsettings .settingsfields {
    background-color: #FFFFFF;
    height: 30px;
    margin-bottom: 2px;
}

#profile {
    font-family: helvetica;
}

#profile h1 {
    margin-top: 30px;
}

