/*========================================

==========================================*/

.menu {
    margin-bottom: 15px;
    list-style: none;
    background-color: #FFFFFF;
    border: 1px solid #D1D5DA;
    border-radius: 3px;
}

.menu-heading {
    display: block;
    padding: 8px 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: #586069;
    background-color: #F3F5F8;
    border-bottom: 1px solid #E1E4E8;
}

.menu-heading:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.menu-item {
    position: relative;
    display: block;
    padding: 8px 10px;
    border-bottom: 1px solid #e1e4e8;
}

.menu-item-selected {
    font-weight: 600;
    color: #24292e;
    cursor: default;
    background-color: #fff;
}

.Subhead {
    display: flex;
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px #e1e4e8 solid;
    flex-flow: row wrap;
}

.Subhead-heading {
    font-size: 24px;
    font-weight: normal;
    flex: 1 1 auto;
    margin-top: 5px !important;
}


/*========================================
Profile Picture Options
==========================================*/
#profilepicturefields {
    display: inline-block;
}

#profilepicturefields .profilepicture {
	border-radius: 6px !important;
	width: 200px;
	height: 200px;
    text-align: center;
}

#profilepicturefields .profilepicturetext {
    height: 30px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#profilepicturefields .profilepictureupload {
    height: 45px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
}

#profilepicturefields .verticallycenter {
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
}

#profilepicturefields .submitbutton {
    width: 200px;
    height: 32px;
    position: absolute;
    right:    0;
    bottom:   0;
    border-radius: 3px;
    border:1px solid #CCCED0;
    background-color: #eff3f6;
}

