<div class="navbar navbar-default navbar-fixed-top navbar-custom" role="navigation"
     {% if request.path == "/sign-up/" %}
     style="display: none; height: 0px;"
     {% endif %}
>
      <div class="container">
        <div class="navbar-header">
            
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

          <ul class="nav navbar-nav navbar-left">
            <li><a href="{% url "home" %}"><img class="image2" src="/static/assets/wizrobelogo3.png"></a></li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            
            {% if user.is_authenticated %}
		        <li><a href='{% url "signout" %}' class="sign_options">Logout<span class="sr-only">(current)</span></a></li>
            {% else %}
                <li><a href='{% url "signin" %}' class="sign_options">Sign In<span class="sr-only">(current)</span></a></li>
                <li><p class="or">or</p></li>
                <li><a href='{% url "signup" %}' class="sign_options">Sign Up<span class="sr-only">(current)</span></a></li>
            {% endif%}
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>