<div id="navbar" class="container navbar-fixed-top navbar-default" role="navigation"
     {% if request.path == "/sign-up/" %}
        style="display: none; height: 0px;"
     {% endif %}
     
     {% if request.path == "/login/" %}
        style="display: none; height: 0px;"
     {% endif %}
>
    
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
    </div>
    
    <div class="navbar-collapse collapse">
    
    
        <!-- LEFT -->
        <div style="position:relative;left:10%;">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a style="padding-top: 10px;" href="{% if user.is_authenticated %}{% url "dashboard" %}{% else %}{% url "home" %}{% endif %}">
                        <img class="wizrobelogo" src="/static/assets/wizrobewhitelogo2.png">
                    </a>
                </li>
            </ul>
        </div>
        
        
        <!-- RIGHT -->
        <div style="position:relative;right:10%;">
            <ul class="nav navbar-nav navbar-right" >
                
                {% if user.is_authenticated %}
                
                    <div class="dropdown">
                        
                        <button class="dropbtn" onclick="myFunction();">
                            <img src="{{ user.userprofile.image_url }}" class="profilepicture">
                        </button>
                        
                        <div id="navDropdown" class="dropdown-content">
                            
                            <p class="text">Signed in as <b>{{ user.username }}</b></p>
                            <hr>
                            <a href="{% url "viewprofile" %}">Your profile</a>
                            <hr>
                            <a href="{% url "settingsprofile" %}">Settings</a>
                            <a href="{% url "signout" %}">Sign out</a>
                        </div>
                    </div>
                    
                {% else %}
                
                    <li><a href='{% url "signin" %}'>Sign In<span class="sr-only">(current)</span></a></li>
                    <li><p class="stupidor" style="padding-right: 0px !important;padding-left: 0px !important;">or</p></li>
                    <li><a href='{% url "signup" %}' style="padding-right: 0px;">Sign Up<span class="sr-only">(current)</span></a></li>
                    
                {% endif %}
                
            </ul>
        </div>
    </div>
</div>