{% extends 'base.html' %}

{% block content %}

    <div class="container row">
        <div id="personalsettings" class="col-md-3">
            <h1>Personal settings</h1>
            {% for field in settings %}
                <div class="settingsfields">
                    <a>{{ field.label }}</a>
                </div>
            {% endfor %}
        </div>
        
        <div id="profile" class="col-md-9 row">
            <h1>Public profile</h1>
            <hr style="margin-bottom: 0px;margin-top: 0px;">
            <div class="col-md-7" style="float: left;">
                <form method='POST' action=''>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="signin_inputbox" >
                            <input class="form-control input-md textboxes" name="{{ field.html_name }}" {% if field.label == "Password" %}type="password"{% else %}type="text"{% endif %} placeholder="{{ field.label }}">
                        </div>
                    {% endfor %}
                </form>
            </div>
                
            <div class="col-md-5">
                <p>Profile picture</p>
            </div>
        </div>
    </div>
    
{% endblock %}