{% extends 'base.html' %}

{% block content %}

	<div class="accountheader">
		<h3>Reset your password</h3>
	</div>
	
	<div class="accountbox" style="height:200px;">
		<p>Enter your email address and we will send you a link to reset your password.</p>
		<form method="post">
			{% csrf_token %}
			
			{% for field in form %}
				<div class="accountinput" >
					<input id="requestpword" class="form-control input-md" placeholder="Enter your email address"
						   name="{{ field.html_name }}" type="text" value="{{user.email}}">
				</div>
			{% endfor %}
			
			<button type="submit" class="form-control btn-primary signup_button accountsubmit">Send password reset email</button>
		</form>
	</div>

{% endblock%}