{% extends 'settings.html' %}

{% block settingscontent %}
    <div class="Subhead">
        <h2 class="Subhead-heading">Change password</h2>
    </div>
        
    <form method='POST'>
        {% csrf_token %}
        
        {% for field in form %}
            <p style="margin: 8px 0 8px;">
                {%if 'confirmation' in field.label %}
                    Confirm password
                {% else %}
                    {{field.label}} {{ if field.required }}*{{ endif }}
                {% endif %}
            </p>
            
            <p>{{field.errors.as_text}}</p>
            <div>
                <input class="inputfield" name="{{ field.html_name }}" type="password"">
            </div>
        {% endfor %}
        
        </br>
        <p>
            <input name="updatepassword" type="submit" class="btn" value="Update password" style="float:left; margin:3px;">
            <p><a href="{% url "requestpassword" %}">I forgot my password</a></p>
        </p>
    </form>
    
    <div class="Subhead">
        <h2 class="Subhead-heading">Change username</h2>
    </div>
    
    <div class="Subhead">
        <h2 class="Subhead-heading" style="color:#FF0000;">Delete account</h2>
    </div>
    <p>Once you delete your account there is no going back. Please be certain.</p>

{% endblock %}