{% extends 'settings.html' %}

{% block settingscontent %}
    
    <div class="Subhead">
        <h2 class="Subhead-heading">Public profile</h2>
    </div>
    
    <div class="col-md-7" style="float: left;">
        <form method='POST' action=''>
            {% csrf_token %}
            {% for field in form %}
                {% if 'image' not in field.html_name and 'password' not in field.html_name %}
                    <div class="signin_inputbox" >
                        <input class="form-control input-md inputfield" name="{{ field.html_name }}" {% if field.label == "Password" %}type="password"{% else %}type="text"{% endif %} placeholder="{{ field.label }}">
                    </div>
                {% endif %}
            {% endfor %}
            
            <button name="POSTbasicinfo" class="btn" type="submit">Submit</button>
        </form>
    </div>
    
    <div id="profilepicturefields" class="col-md-5">
        <div class="profilepicturetext"><p>Profile picture</p></div>
        
        <div style="text-align: center;">
            <img src="{{ user.userprofile.image_url }}" class="profilepicture">
        </div>
        
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {% if 'image' in field.html_name %}
                    <div class="profilepictureupload">
                        <input class="btn" id="{{ field.id_for_label }}" name="{{ field.html_name }}" type="file">
                    </div>
                {% endif %}
            {% endfor %}
            
            <div class="profilepictureupload">
                <input name="POSTprofilepic" type="submit" class="btn" value="Submit">
            </div>

        </form>
        
    </div>
    
{% endblock %}