{% extends 'base.html' %}

{% block jumbotron %}

    <div class="pillars"></div>
    
    <a href="{% url "home" %}" id="biglogobutton">
        <div class="box">
            <center><img src="/static/assets/wizrobewhitelogo.png" class="image"></center>
        </div>
    </a>
    
{% endblock %}

{% block content %}

      <div class="container" id="signupfields">
        <h1>Sign up to rent a space</h1>
        <form method='POST' action=''>
            {% csrf_token %}
            {% for field in form %}
                <div class="signup_box" >
                    <input class="form-control input-lg" name="{{ field.html_name }}" type="text" placeholder="{{ field.label }}">
                </div>
            {% endfor %}
            <p><input type="submit" class="signup_box btn btn-primary btn-lg signup_button" value="Sign Up"></p>
        </form>
      </div>
      
{% endblock %}


 