{% extends 'base.html' %}

{% block content %}

	<div style='text-align: center; letter-spacing: -.07em;'>
		<h3>Sign in to Wizrobe</h3>
	</div>
	
	{% if messages %}
		{% for message in messages %}
			<h1 class="signupreceived">{{ message }}</h1>
		{% endfor %}
	{% endif %}
	
	<div id="signin" class="signin_rectangles">
		<form method='POST' action=''>
            {% csrf_token %}
            {% for field in form %}
				{% if field.label == "Username" %}
					Username or email address
				{% endif %}
				{% if field.label == "Password" %}
					Password
					<span style="float:right;"><a href="{% url "requestpassword" %}">Forgot Password?</a></span>
				{% endif %}
                <div class="signin_inputbox" >
                    <input class="form-control input-md" name="{{ field.html_name }}" type="text" placeholder="{{ field.label }}">
                </div>
            {% endfor %}
			<input id="signin_button" type="submit" class="form-control btn-primary signup_button" value="Sign In">
        </form>
	</div>
	
	<div id="newtowizrobe" class="signin_rectangles">
		New to Wizrobe? <a href="{% url "signup" %}">Create an account</a>.
	</div>

{% endblock%}