{% extends 'base.html' %}

{% block jumbotron%}

    <div style="
        background-repeat: repeat-x repeat-y;
        background-image: url('/static/assets/pillar.png');
        background-position: top center;
        position: relative;
        margin-top: -52px;
        width:100%;
        height: 100px;
    "></div>
    
    <a href="{% url "home" %}" style="text-align: center; width:100%; display: block;">
        
        <div style="
            background-image: url('/static/assets/wizrobewhitelogo.png');
            width:200px;
            height:150px;
            background:#030403;
            border-radius: 7px;
            position:absolute;
            margin-top: -50px;
            margin-left: -90px;
            display: inline-block;
        ">
        <center><img src="/static/assets/wizrobewhitelogo.png" style="
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            display: block;
        "></center>
        </div>
    </a>
    
    
    <div class="jumbotron">
      <div class="container">
        <br/>
        <br/>
        <br/>
        <h1 style="text-align: center; color: #030403;font-size: 250%;">Sign up to rent a space</h1>
        
        <form method='POST' action=''>
            {% csrf_token %}
            
            {% for field in form %}
                <div class="signup_box" style="margin-bottom: 10px;">
                    
                    <!-- https://docs.djangoproject.com/en/1.11/topics/forms/ -->
                    
                    <input class="form-control input-lg unique_signupbox"
                           id="signup"
                           type="text"
                           placeholder="{{ field.label }}">
                </div>
            {% endfor %}
            
            <p>
                <input type="submit"
                        class="signup_box btn btn-primary btn-lg unique_signupbox"
                        value="Sign Up"
                        style="background-color: #56AE5C;
                            margin-left: auto;
                            margin-right: auto;"
                >
            </p>
            
        </form>
        
      </div>
    </div>
{% endblock %}


 