.jumbotron {
    width: 100% !important;
    height: 100%;
    background-color: white;
    overflow: hidden;
}

.jumbotronimg {
    position: relative;
    margin-top: -100px;
    background-image: url('/static/assets/garage2.png');
    background-repeat: no-repeat;
    background-position: center;
}

#signupbox{
    width:400px;
    height:750px;
    background:#F8F8FA;
    position: relative;
    top: 135px;
    left: 840px;
}

#littlerectangle {
    width:400px;
    height:8px;
    background:#F1F1F1;
}

#rentaspace {
    background-image: url('/static/assets/rentaspace.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

p {
    color: black;
}

.success {
    text-align: right;
}

.bgimage {
    width: 100%;
    z-index: 0;
    position: relative;
    top: -70px;
}

.image2 {
	height: auto;
    width: auto;
    position: relative;
    left: 30px;
}

.getthere h1 {
    font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif !important;
    letter-spacing: -.03em !important;
    font-weight: 400 !important;
    position: relative;
    left: 100px;
}
.getthere h2 {
    letter-spacing: -.03em !important;
    font-weight: 400 !important;
    position: relative;
    left: 100px;
}