.stretchheader {
    width: 100% !important;
    position: relative;
    top: 100px;
}

.jumbotron {
    width: 100% !important;
    height: 100%;
    background-color: white;
    overflow: hidden;
}

.jumbotronimg {
    position: relative;
    margin-top: 55px;/*100*/
    background-image: url('/static/assets/garage2.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jumbotronimg p {
    color: black;
    position: relative;
    left: 40px;
    top: 20px;
    font-family: helvetica;
    font-size: 25px;
    letter-spacing: -.04em;
}

.jumbotronimg h1 {
    color: red;
    position: relative;
    left: 40px;
    top: 0px;
    font-family: helvetica;
    font-size: 19px;
    letter-spacing: .07em;
}

.jumbotronimg a {
    color: red;
    position: relative;
    left: 90px;
    top: 0px;
    font-family: helvetica;
    font-size: 19px;
    letter-spacing: .07em;
}

.jumbotronimg h6 {
    color: #C6C6C8;
    position: relative;
    left: 60px;
    top: 10px;
    font-family: helvetica;
    font-size: 10px;
}

#signupbox{
    width:402px;
    height:750px;
    background:#F8F8FA;
    position: relative;
    top: -15px;
    left: 840px;
}

#littlerectangle {
    width:402px;
    height:8px;
    background:#F1F1F1;
}

#line {
    width:250px;/*TODO: make a blank line over this one so it doesnt fuck up*/
    height:1.5px;
    background:#F1F1F1;
    position: relative;
    left: 50px;
    top: 15px;
}

#line2 {
    width:125px;
    height:1.5px;
    background:#F1F1F1;
    position: relative;
    left: 211px;
    top: -6px;
    
}

#rentaspace {
    width:65px;
    height:65px;
    background:#8ADAC1;
    border-radius: 50%;
    position: relative;
    left: 20px;
    top: 15px;
    float:left;
}

p {
    color: black;   
}

.success {
    text-align: right;
}

.bgimage {
    width: 100%;
    z-index: 0;
    position: relative;
    top: -70px;
}

.image2 {
	height: auto;
    width: auto;
    position: relative;
    left: 30px;
}

.getthere h1 {
    font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif !important;
    letter-spacing: -.03em !important;
    font-weight: 400 !important;
    position: relative;
    left: 100px;
}
.getthere h2 {
    letter-spacing: -.03em !important;
    font-weight: 400 !important;
    position: relative;
    left: 100px;
}

.signup_box {
    text-align:center !important; 
    height:70px !important;
    width: 1150px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    position: relative !important;
    margin-top: 0px !important;
}

.signup_box box {
    width:740px;
    height:60px;
    position: relative;
    border-radius: 5px;
}
